# Django settings for axo project.
# Fill in settings everywhere that there is an "Add..." instruction comment.

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    # Add admin name and email, e.g. ('Your Name', 'your_email@example.com'),
)

MANAGERS = ADMINS

SITE_NAME = 'Alpha Chi Omega - Theta Omicron'
SITE_DOMAIN = '' # Add site domain, e.g. 'axo.mit.edu'

DATABASES = {
    'default': {
        'ENGINE': '',    # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',      # Or path to database file if using sqlite3.
        'USER': '',      # Not used with sqlite3.
        'PASSWORD': '',  # Not used with sqlite3.
        'HOST': '',      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',      # Set to empty string for default. Not used with sqlite3.
    }
}

# Settings for django-registration module.
ACCOUNT_ACTIVATION_DAYS = 7
EMAIL_USE_TLS = True
EMAIL_HOST = ''                           # Add SMTP server, e.g. 'smtp.gmail.com'
EMAIL_HOST_USER = ''                      # Add host user
EMAIL_HOST_PASSWORD = ''                  # Add host password
EMAIL_PORT = 587
DEFAULT_FROM_EMAIL = ''                   # Add email address, e.g. 'Alpha Chi Omega <axothetaomicon@gmail.com>'
LOGIN_REDIRECT_URL = '/sistersonly/'

TEMPLATE_DIRS = (
    # Absolute filesystem path to directory that holds templates
    '' # Add template directory path, e.g. '/Users/leibovic/code/rutabaga/website/templates'
)

# Absolute filesystem path to the directory that holds static files.
# This should just be used for serving static files in development.
STATIC_DOC_ROOT = '' # Add static files directory path, e.g. '/Users/leibovic/code/rutabaga/static/'

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# On Unix systems, a value of None will cause Django to use the same
# timezone as the operating system.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'America/New_York'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = False

# If you set this to False, Django will not format dates, numbers and
# calendars according to the current locale
USE_L10N = False

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
)

ROOT_URLCONF = 'rutabaga.urls'

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.admin',
    'django.contrib.admindocs',
    'website',
)

# A sample logging configuration. The only tangible logging
# performed by this configuration is to send an email to
# the site admins on every HTTP 500 error.
# See http://docs.djangoproject.com/en/dev/topics/logging for
# more details on how to customize your logging configuration.
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'class': 'django.utils.log.AdminEmailHandler'
        }
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
    }
}
