{% extends "sistersonly/base.html" %}

{% block title %}Your Attendance &ndash; {% endblock %}

{% block main %}

<div class="content">
  <h1 class="sister-name">Positive Points for {{ sister.full_name }}</h1>
  <div id="attendance"> Loading...
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
function postAttendance(attendance){
document.getElementById("attendance").innerHTML=attendance;
}
</script>
<script src="https://script.google.com/macros/s/AKfycbxEi9h9FYgcS_aMSbVe4V2XcHwx7Yviety-8n2zOkOyqpWIDlr5/exec?first={{ sister.user.first_name }}&last={{ sister.user.last_name }}&prefix=postAttendance">
</script>
{% endblock %}
