{% extends "sistersonly/base.html" %}

{% block title %}Your Attendance &ndash; {% endblock %}

{% block main %}

<div class="content">
  <h1 class="sister-name">{{ sister.full_name }}</h1>
  <h2>Current Percentage:</h2>
  <div id="attendance">
  </div>
</div>

<script>
function postAttendance(attendance){
document.getElementById("attendance").innerHTML=attendance;
}
</script>
<script src="https://script.google.com/macros/s/AKfycbx0HHLz2SO96OAkr8mIOAKM2JYoyYiXHETFtmQ-Grt5XiS2vR4/exec?first={{ sister.user.first_name }}&last={{ sister.user.last_name }}&prefix=postAttendance">
</script>

{% endblock %}
