{% extends "base.html" %}

{% block secondary_navigation %}
<ul class="navigation secondary-navigation">
  <!-- location attribute is the path stripped of '/' (used to indicate current page)-->
  <li location="sistersonlyevents"><a href="/sistersonly/attendance/">Attendance</a></li>
  <li location="sistersonlydirectory"><a href="/sistersonly/directory/">Directory</a></li>
  <li location="sistersonlyelections">
    <a href="/sistersonly/elections/">Elections</a>
    <ul class="dropdown">
      <li><a href="/sistersonly/officers2013/">Officer Structure</a></li>
      <li><a href="/sistersonly/elections/ois/">OIS Submission</a></li>
      <li><a href="/sistersonly/elections/loi/">LOI Submission</a></li>
      <li><a href="/sistersonly/elections/loi/results/">Submitted LOIs</a></li>    
      <li><a href="/sistersonly/elections/slating/">Slating</a></li>    
    </ul>
  </li>
  <li location="sistersonlyfeedback"><a href="/sistersonly/feedback/">Feedback</a></li>
  <li location="sistersonlyresources">
    <a href="/sistersonly/">AXΩ Resources</a>
    <ul class="dropdown">
      <li><a href="/sistersonly/house/">House</a></li>
      <li><a href="/sistersonly/communication/">Communication</a></li>
      <li><a href="/sistersonly/ID/">Intellectual Development</a></li>
      <li><a href="/sistersonly/policies/">Policies</a></li>
	  <li><a href="/sistersonly/faq/">FAQ</a></li>
    </ul>
  </li>
</ul>
{% endblock %}
