{% extends "base.html" %}

{% block sisters_only_navigation %}
<div id="sisters-only-navigation" class="navigation">
  <!-- location attribute is the path stripped of '/' (used to indicate current page)-->
  <a location="sistersonlyevents" href="http://{{domain}}/sistersonly/events/">Events</a>
  <a location="sistersonlydirectory" href="http://{{domain}}/sistersonly/directory/">Directory</a>
  <a location="sistersonlyhouse" href="http://{{domain}}/sistersonly/house/">House</a>
  <a location="sistersonlyfinance" href="http://{{domain}}/sistersonly/finance/">Finance</a>
  <a location="sistersonlyrecruitment" href="http://{{domain}}/sistersonly/recruitment/">Recruitment</a>
  <a location="sistersonlycommunications" href="http://{{domain}}/sistersonly/communications/">Communications</a>
  <a location="sistersonlyelections" href="http://{{domain}}/sistersonly/elections/">Elections</a>
  <a location="sistersonlyresources" href="http://{{domain}}/sistersonly/resources/">AXΩ Resources</a>
  <a location="sistersonlyfeedback" href="http://{{domain}}/sistersonly/feedback/">Feedback</a>
</div>
{% endblock %}
