{% extends "sistersonly/base.html" %}

{% block title %}Elections &ndash; {% endblock %}

{% block main %}
<div class="content">
  <h1>Spring Non-Exec Elections</h1>
  
  <ul>
    <li><a href="ois">OIS submission</a> opens on Sunday, March 17, and it's due by Friday, March 22.</li>
    <li>Current <a href="ois/results">OIS results</a> are up, but please be patient--the page takes awhile to load.</li>
    <li><a href="loi">LOI submission</a> opens on Friday, March 22, and it's due by Friday, April 5.</li>
    <li>You can read <a href="loi/results">submitted LOIs</a> beginning Saturday, April 6.</li>
    <li><a href="slating">Slating</a> will happen in chapter on Sunday, April 7.</li>
    <li>Voting will take place in chapter on Sunday, April 21.</li>
  </ul></div>
{% endblock %}
