{% extends "sistersonly/base.html" %}

{% block title %}Elections &ndash; {% endblock %}

{% block main %}
<div class="content">
  <h1>Fall Non-Exec Elections</h1>
  
  <ul>
    <li><a href="ois">OIS submission</a> opens on October 12, and it's due by Monday, October 29.</li>
    <li>Current <a href="ois/results">OIS results</a> are up, but please be patient--the page takes awhile to load.</li>
    <li><a href="loi">LOI submission</a> opens on Tuesday, October 30, and it's due by Friday, November 9.</li>
    <li>You can read <a href="loi/results">submitted LOIs</a> beginning Saturday, November 10.</li>
    <li><a href="slating">Slating</a> will happen in chapter on Sunday, November 11.</li>
    <li>Voting will take place in chapter on December 2.</li>
  </ul></div>
{% endblock %}
