{% extends "sistersonly/base.html" %}

{% block title %}OIS Submission &ndash; {% endblock %}

{% block main %}
<div class="content">
  <h1>OIS Submission</h1>
  {% if ois_closed %}
    <p>Sorry, OIS submission is closed now!</p>  
  {% else %}

    {% if submitted %}
    <p>Thanks for submitting your OIS!</p>
    {% else %}

    {% if error %}
    <p class="error">Make sure you select a choice for every position!</p>
    {% endif %} 

    <h2>Please indicate your interest level in each position below. Any new forms you submit will replace your old responses.</h2>
    <form method="post" action="">
      {% csrf_token %}
      {% regroup offices|dictsort:"sort_rank" by reports_to as grouped_offices %}
      {% for exec_office in grouped_offices %}
        <h2 class="loi-results-office">{{ exec_office.grouper }}</h2>
        <table class="ois-table">
        {% for office in exec_office.list %}        
          <tr><td>Title:</td><td>{{ office.title }}</td></tr>
          <tr><td>Description:</td><td>{{ office.description }}</td></tr>
          <tr><td>Reports to:</td><td>{{ office.reports_to }}</td></tr>
          <tr><td>Term Length:</td><td>{{ office.term_length }}</td></tr>
          <tr class="radio-row"><td>Are you interested?</td>
              <td>
                <input type="radio" name="{{ office.id }}" id="{{ office.id }}yes" value="1"/>
                <label for="{{ office.id }}yes">Yes</label>
    
                <input type="radio" name="{{ office.id }}" id="{{ office.id }}no" value="0"/>
                <label for="{{ office.id }}no">No</label>
    
                <input type="radio" name="{{ office.id }}" id="{{ office.id }}maybe" value="2"/>
                <label for="{{ office.id }}maybe">Maybe</label>
              </td>
          </tr>
        {% endfor %}
        </table>
      {% endfor %}
      <input class="form-submit" type="submit" value="Submit OIS"/>
    </form>

    {% endif %}
  {% endif %}
</div>
{% endblock %}
