{% extends "sistersonly/base.html" %}

{% block title %}OIS Submission &ndash; {% endblock %}

{% block main %}
<div class="content">
  <h1>Non-Exec OIS Submission</h1>
  {% if ois_closed %}
    <p>Sorry, OIS submission is closed now!</p>  
  {% else %}

    {% if submitted %}
    <p>Thanks for submitting your OIS!</p>
    {% else %}

    {% if error %}
    <p class="error">Make sure you select a choice for every position!</p>
    {% endif %} 

    <p>Sister may hold a limited number of non-executive positions. Positions fall into two groups, A and B. Sisters may only hold one group A position in the period that requires the most work, as listed below. Not during the time of most work, sisters may hold that group A position as well as one other group B position. Sisters can also hold two group B positions.</p>
    <p>Group A:</p>
    <p>Spring: CRSB Class Representative, CPW Chair(s), MomComm Chairs, Lipsync Committee, Panhel Executive Board, Social Chair, and Carnation Ball Committee.</p>
    <p>Group B:</p>
    <p>Attendance Chair, Community Service Chair, Family Weekend Committee, Sports Chair, Song Leader, Risk Class Representatives, Historian, Chi Connections, KROM, Retreat Chairs, Assistant Finance, Webmaster, Personal Development Chairs, PACE Chair, Recognitions Chair and Steward.</p>

    <h2>Please indicate your interest level in each position below. Any new forms you submit will replace your old responses.</h2>
    <form method="post" action="">
      {% csrf_token %}
      {% regroup offices|dictsort:"sort_rank" by reports_to as grouped_offices %}
      {% for exec_office in grouped_offices %}
        <h2 class="loi-results-office">{{ exec_office.grouper }}</h2>
        <table class="ois-table">
        {% for office in exec_office.list %}        
          <tr><td>Title:</td><td>{{ office.title }}</td></tr>
          <tr><td>Description:</td><td>{{ office.description }}</td></tr>
          <tr><td>Reports to:</td><td>{{ office.reports_to }}</td></tr>
          <tr class="radio-row"><td>Are you interested?</td>
              <td>
                <input type="radio" name="{{ office.id }}" id="{{ office.id }}yes" value="1"/>
                <label for="{{ office.id }}yes">Yes</label>
    
                <input type="radio" name="{{ office.id }}" id="{{ office.id }}no" value="0"/>
                <label for="{{ office.id }}no">No</label>
    
                <input type="radio" name="{{ office.id }}" id="{{ office.id }}maybe" value="2"/>
                <label for="{{ office.id }}maybe">Maybe</label>
              </td>
          </tr>
        {% endfor %}
        </table>
      {% endfor %}
      <input class="form-submit" type="submit" value="Submit OIS"/>
    </form>

    {% endif %}
  {% endif %}
</div>
{% endblock %}
