{% extends "sistersonly/base.html" %}

{% block title %}Elections &ndash; {% endblock %}

{% block main %}
<div class="content">
  <h1>Exec Elections</h1>
  <ul>
    <li><a href="ois">OIS submission</a> opens on Sunday, October 2, and it's due by Friday, October 7.</li>
    <li><a href="loi">LOI submission</a> opens on Sunday, October 9, and it's due by Friday, October 14.</li>
    <li><a href="slating">Slating</a> will happen in chapter on October 16.</li>
    <li>Voting will take place in chapter on October 23.</li>
  </ul>

  <h1>Non-Exec Elections</h1>
  <p>Stay tuned! These will happen after exec elections.</p>
</div>
{% endblock %}
