{% extends "sistersonly/base.html" %}

{% block title %}Feedback &ndash; {% endblock %}

{% block main %}
<div class="content">
  <h1>Anonymous Feedback</h2>
  Thank you for offering your feedback to Exec! There are many ways you can offer feedback or give new ideas for our chapter.

  <ol>
  	<li><strong>Exec Board Meetings</strong><br>
	You are welcome to attend Exec Meetings--they're all open! You can email <a href="mailto:axo-president@mit.edu">the president</a> if you want to add your topic to the agenda, or just show up! ou may also email axo-exec@mit.edu to reach the entire executive board and our two chapter advisors, Ellen ‘08 and Julie ‘12. </li>
	<li><strong>CRSB</strong><br>
	You are welcome to visit CRSB to express concerns in a confidential setting.  To make an appointment to attend (so that you don’t have to wait too long), email <a href="axo-vpcrsb@mit.edu">VP CRS</a>.</li>
	<li><strong>Anonymous Feedback</strong><br>
	To anonymously give feedback, fill out the form below. Your feedback will be sent to the entire executive board and we will do our best to address your concerns. However, please consider the following when giving your feedback:
	<ul>
		<li>Your sisters are doing their best to help the chapter. Please keep in mind that they are trying to meet the needs of 125 women, and it's not going to be perfect!</li>
		<li>The entire board reads these. If this is a comment or suggestion really meant for one person, please see the email addresses above.</li>
		<li>We can not respond to anonymous feedback. By sending an email instead, we can respond personally and give an explanation; by submitting anonymous feedback you will not get an individual response. The exec board would much rather respond to you as an individual and start a discussion!</li>
		<li>Finally, we are your sisters. Please be nice!</li>
	</ul>
  </ol>

  <p>If you have comments or concerns about anything in our chapter please let Exec know! Any comments you have will be emailed anonymously to Exec, and we will do our best to address your concerns.</p>

  {% if submitted %}<p>An email was sent to Exec. Thank you for your feedback!</p>{% endif %}
  {% if error %}<p>Whoops! There was an error submitting feedback.</p>{% endif %}

  <form method="post" action="/sistersonly/feedback/">
    {% csrf_token %}
    <div><textarea id="feedback-textarea" name="message"></textarea></div>
    <input type="submit" value="Submit feedback" />
  </form>
</div>
{% endblock %}
