{% extends "sistersonly/base.html" %}

{% block title %}Feedback &ndash; {% endblock %}

{% block main %}
<div class="content">
  <h1>Anonymous Feedback</h2>
  Thank you for offering your feedback to Exec! There are many ways you can offer feedback or give new ideas for our chapter.

  <ol>
  	<li><strong>Exec Board Meetings</strong><br>
	You are welcome to <strong>attend Exec Meetings</strong>--they're all open! You can email <a href="mailto:axo-president@mit.edu">the president</a> if you want to add your topic to the agenda, or just show up! ou may also email axo-exec@mit.edu to reach the entire executive board and our two chapter advisors, Ellen ‘08 and Julie ‘12. </li>
	<li><strong>CRSB</strong><br>
	You are welcome to <strong>visit CRSB</strong> to express concerns in a confidential setting.  To make an appointment to attend (so that you don’t have to wait too long), email <a href="axo-vpcrsb@mit.edu">VP CRS</a>.</li>
	<li><strong>Contact Individual Officers</strong><br>
	If you have specific concerns or suggestions/new ideas relating to a certain Exec officer, <a href="https://axo.mit.edu/sisters/officers/">feel free to email them individually!</a> By emailing them directly, you will be assured a response to your concerns or start a discussion about your idea!  We love to improve our chapter’s programming and resources, so please give your constructive input!<br>
	<!--
	You are welcome to address concerns or give suggestions/new ideas by emailing individual exec officers.  By emailing them directly, you will be assured a response to your concerns or start a discussion about your idea!  We love to constantly improve our chapter’s programming and resources, so please give your constructive input!<br>
	<ul>
	  <li><a href="mailto:axo-president@mit.edu">President, Caitlin Mackey (858-740-7451):</a> General Concerns</li>
	<li><a href="mailto:axo-vpcrs@mit.edu">VP Chapter Relations and Standards, Sarah Fay:</a> Confidential concerns about a specific sister, Bylaws, Policies</li>
<li><a href="mailto:axo-vpfinance@mit.edu">VP Finance, Beth Garcia:</a> Concerns about Dues, Budget </li>
<li><a href="mailto:axo-vprisk@mit.edu">VP Risk Management [Concerns about Socials, Alcohol Policy, Stress Management]- Erin Bailie, </li>
<li><a href="mailto:">VP Ritual and Fraternity Appreciation [AXO Holidays, Ritual, Initiation, Alumnae Relations, Retreat]- Cordelia Tuan, axo-vprfa@mit.edu</li>
<li><a href="mailto:">VP Recruitment [Recruitment (Formal and COB), Bond Week]- Kathryn Buggs, axo-vprecruitment@mit.edu</li>
<li><a href="mailto:">VP New Member Education [New Member Program, Bigs, Mystagogues, Revelations, Bid Day]- Liz de Laittre, axo-vpnewed@mit.edu</li>
<li><a href="mailto:">VP Public Relations and Marketing [T-Shirts, Facebook Page, Email Lists, Newsletters, Parent’s Weekend]- axo-vpcomm@mit.edu</li>
<li><a href="mailto:">VP Membership Programming [Soph Semi, C-Ball, MyJourney, Fondue, Senior Programming]- Lexi Eyerman, axo-vpmempro@mit.edu</li>
<li><a href="mailto:">VP Intellectual Development [GPA Concerns, Career Development, AXO Academic Resources]- Ilana Habib, axo-vpid@mit.edu</li>
<li><a href="mailto:">VP Facility Operations [All Things the House]- KK Wopat, axo-housemanager@mit.edu</li>
<li><a href="mailto:">VP Philanthropy [LipSync, DVA Week, DVA Events]- Patience Stevens, axo-vpphil@mit.edu</li>
	</ul>

Panhel Concerns:
Panhel Delegate [Campus Total, Recruitment Rules, Other Sorority’s Events]- Isabella Stuopis, axo-vppanhel@mit.edu
Hannah Barrett, Executive Vice President of Panhel Exec hbarrett@mit.edu 
</li>-->
	<li><strong>Anonymous Feedback</strong><br>
	To anonymously give feedback, fill out the form below. Your feedback will be sent to the entire executive board and we will do our best to address your concerns. However, please consider the following when giving your feedback:
	<ul>
		<li>Your sisters are doing their best to help the chapter. Please keep in mind that they are trying to meet the needs of 125 women, and it's not going to be perfect!</li>
		<li>The entire board reads these. If this is a comment or suggestion really meant for one person, please see the email addresses above.</li>
		<li>We can not respond to anonymous feedback. By sending an email instead, we can respond personally and give an explanation; by submitting anonymous feedback you will not get an individual response. The exec board would much rather respond to you as an individual and start a discussion!</li>
		<li>Finally, we are your sisters. Please be nice!</li>
	</ul>
  </ol>
  <br>

  {% if submitted %}<p>An email was sent to Exec. Thank you for your feedback!</p>{% endif %}
  {% if error %}<p>Whoops! There was an error submitting feedback.</p>{% endif %}

  <form method="post" action="/sistersonly/feedback/">
    {% csrf_token %}
    <div><textarea id="feedback-textarea" name="message"></textarea></div>
    <input type="submit" value="Submit feedback" />
  </form>
</div>
{% endblock %}
