{% extends "sistersonly/base.html" %}

{% block title %}Sisters Only &ndash; {% endblock %}

{% block main %}
<div class="content">
  <h1>Sisters Only</h1>
  <p>Hey, {{ sister.user.first_name }}! Welcome to our new website. Poke around, and see what you think!</p>

  <h2>Important Dates</h2>
  <ul>
    <li>August 28, 2011: Fall House Cleaning</li>
    <li>August 28 - September 1, 2011: Bond Week</li>
    <li>September 3 - 7, 2011: Recruitment</li>
    <li>September 6, 2011: Registration Day</li>
  </ul>

	<!--iframe id="calendar" src="http://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=avh5r2jcgb0gpgem1eboaf73ic%40group.calendar.google.com&amp;color=%23B1365F&amp;src=k0v5u01nmhq2tpbku51uoelg8c%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FNew_York" frameborder="0" scrolling="no"></iframe-->
</div>
{% endblock %}
