{% extends "base.html" %}

{% block title %}Alumnae &ndash; {% endblock %}

{% block main %}
<div class="content">
  <p>This year marks 25 years of Alpha Chi Omega on the MIT campus! Check out our plans for the 25th Anniversary celebrations. We hope we'll see you there!</p>
  <p>We have recently launched a fundraising campaign to raise money for the FIRST sorority scholarship fund at MIT. Please consider making a donation to the MIT AXO Scholarship Fund! Right now, the MIT class of 2003 is in the lead, with a 42% participation rate!</p>
  <p>We love to stay in touch with our alumnae so please stay tuned for more ways to stay connected with the Theta Omicron chapter.</p>
  <p>Our VP of Alumnae Relations publishes regular newsletters to keep you updated on the events of our chapter. If you are not already receiving these by email but would like to, please contact <a href="mailto:axo-vpalumrel@mit.edu">VP Alumnae Relations</a>.</p>
</div>
{% endblock %}
