<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{% endblock %}Alpha Chi Omega &ndash; Theta Omicron Chapter</title>
  <meta name="description" content="The official website of Theta Omicron Chapter of Alpha Chi Omega, chartered at MIT in 1986.">
  <meta name="author" content="Alpha Chi Omega - Theta Omicron">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/static/favicon.ico">

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/static/js/libs/modernizr-1.7.min.js"></script>

</head>

<body>

  <div id="container">
    <header>
      <a id="title" href="http://{{domain}}/">Alpha Chi Omega &ndash; Theta Omicron Chapter at MIT</a>
      <span id="login-info">
        {% if sister %}
          Welcome, <a href="http://{{domain}}/sistersonly/directory/{{ sister.id }}/">{{ sister.user.first_name }}</a>. <a href="http://{{domain}}/accounts/logout">Log out</a>.
        {% else %}
          You are not logged in. <a href="http://{{domain}}/accounts/login">Log in</a>.
        {% endif %}
      </span>
    </header>
    <div class="navigation">
      <!-- location attribute is the path stripped of '/' (used to indicate current page)-->
      <a location="about" href="http://{{domain}}/about">About</a>
      <a location="sisters" href="http://{{domain}}/sisters">Sisters</a>
      <a location="philanthropy" href="http://{{domain}}/philanthropy">Philanthropy</a>
      <a location="social" href="http://{{domain}}/social">Social</a>
      <a location="recruitment" href="http://{{domain}}/recruitment">Recruitment</a>
      <a location="parents" href="http://{{domain}}/parents">Parents</a>
      <a location="alumnae" href="http://{{domain}}/alumnae">Alumnae</a>
      <a location="sistersonly" href="http://{{domain}}/sistersonly">Sisters Only</a>
    </div>
    {% block sisters_only_navigation %}{% endblock %}
    <div id="breadcrumbs">
       {% block breadcrumbs %}{% endblock %}
    </div>
    <div id="main" role="main">
      {% block main %}{% endblock %}
    </div>
    <footer>
      {% block footer %}
        &copy;2011&ndash; AXΩ ΘΟ
        <a href="http://{{domain}}/">Home</a>
			  <a href="http://web.mit.edu/">MIT</a>
			  <a href="http://web.mit.edu/panhel/www/">Panhel</a>
			  <a href="http://www.alphachiomega.org">Alpha Chi Omega</a>
			  <a href="http://{{domain}}/contact">Contact</a>
      {% endblock %}
    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/script.js"></script>
  <!-- end scripts-->

  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
    
    {% if current_page %}
      $(function(){
        $(".navigation > a[location={{ current_page }}]").addClass("current");
      });
    {% endif %}

    function selectAll() { $("input[type=checkbox]").attr("checked", true); }
    function selectNone() { $("input[type=checkbox]").attr("checked", false); }
  </script>

</body>
</html>