{% extends "base.html" %}

{% block title %}Parents &ndash; {% endblock %}

{% block main %}
<div class="content">
  <p>Dear Parents,<p>
  <p>Welcome to the Alpha Chi Omega – Theta Omicron Chapter website. We hope you have looked around enough to discover our traditions, annual events, leadership, community service initiatives and everything else that makes us Alpha Chis. Your daughters share a very special bond here, and we are committed to prolonging this everlasting experience throughout their lifetime.</p>
  <p>We will do our best to serve you, the supportive parents of Alpha Chis, by informing you of past and future events and sister involvement. Below, you will find a Sign-Up form that allows you to subscribe to the Alpha Chi Omega – Theta Omicron Parent’s Newsletter. Our goal through this newsletter is to keep you in touch with your daughter’s involvement with AXO.</p>
  <p>Our kindest regards,</p>
  <p><a href="mailto:momcom@mit.edu">Parent Committee Chairs</a></p>
</div>
{% endblock %}
