{% extends "base.html" %}

{% block title %}Philanthropy &ndash; {% endblock %}

{% block main %}
<div class="content">
  <p>The sisters of Alpha Chi are very devoted to philanthropy and community service. Many of our sisters pursue their own philanthropic interests by volunteering for organizations like MIT's Camp Kesem, Habitat for Humanity, and many others. Our <a href="mailto:axo-commserv@mit.edu">Community Service Chairs</a> also organize regular commnunity service outings for our sisters. In the past, sisters have volunteered together for the Boston Marathon, Making Strides Against Breast Cancer, Haley House of Boston, and many other organizations.</p>
  <img src="../static/images/barcc.jpg"/>
  <p>Domestic violence awareness is Alpha Chi Omega's primary philanthropy. Our chapter is a strong supporter of the <a href="http://www.barcc.org">Boston Area Rape Crisis Center</a> (BARCC). We volunteer for BARCC's annual Walk and Gala. And through several annual events like LipSync and Domestic Violence Awareness Week, our chapter raises money on campus that is sent directly to BARCC.</p>
  <p>Each year, as part of the new member education process and to encourage our sisters to bond while giving back to the community, our newest members organize a community service project. <a href="http://web.mit.edu/newsoffice/2011/lego-kits.html">Check out</a> what our pledge class did this year!</p>
</div>
{% endblock %}
