{% extends "base.html" %}
{% load website_extras %}

{% block title %}{{ profile_sister.full_name }} &ndash; {% endblock %}

{% block main %}
<div class="sister-profile-container">
  <div class="sister-photo-container">
    <img class="sister-photo" src="http://axo.scripts.mit.edu/{{ profile_sister.photo_url }}"/>
  </div>
  <div class="sister-details-container">
    <h1 class="sister-name">{{ profile_sister.full_name }}</h1>
    {% if profile_sister == sister %}
    <h2><a href="/accounts/change/">Edit your profile</a></h2>
    {% endif %}
    <dl>
      <dt>Class Year:</dt>
      <dd>{{ profile_sister.class_year }}</dd>
      <dt>Major:</dt>
      <dd><!--{{ profile_sister.major }}--></dd>
      <dt>Hometown:</dt>
      <dd>{{ profile_sister.hometown }}</dd>
      <dt>Bio:</dt>
      <dd>{{ profile_sister.bio }}</dd>
      <dt>Interests:</dt>
      <dd>{{ profile_sister.interests }}</dd>
    </dl>
    {% if user.first_name %}
    <dl>
      <dt>Email:</dt>
      <dd>{{ profile_sister.user.email }}</dd>
      <dt>Phone Number:</dt>
      <dd>{{ profile_sister.phone_number }}</dd>
    </dl>  
    {% endif %}
  </div>
</div>
{% endblock %}
