{% extends "base.html" %}
{% load website_extras %}

{% block title %}{{ profile_sister.full_name }} &ndash; {% endblock %}

{% block main %}

<table class="sister-profile-container">
  <tr>
  
  <td class="sister-photo-container">
    {% if profile_sister.photo_url %}
    {% if profile_sister.status != 3 %}
    <img class="sister-photo image-shadow" src="http://axo.scripts.mit.edu/{{ profile_sister.photo_url }}"/>
    {% endif %}
    {% else %}
    <img class="sister-photo image-shadow" src="/static/default-avatar.jpg"/>
    {% endif %}
  </td>
  <td class="sister-details-container">
    
    {% if profile_sister.status != 3 %}
    
      <h1 class="sister-name">{{ profile_sister.full_name }}</h1>
    {% if profile_sister == sister %}
      <h2><a href="/sisters/profile/">Edit your profile</a></h2>
    {% endif %}
    <ul>
      <li><strong>Class Year: </strong>{{ profile_sister.class_year }}</li>

      <li><strong>Major(s):</strong>{% if profile_sister.majors %}
      {% for major in profile_sister.majors.all %} {{ major }}; {% endfor %} {% endif %}</li>

      
      <li><strong>Hometown: </strong>{% if profile_sister.hometown %}{{ profile_sister.hometown }}{% endif %}</li>
      <li><strong>Bio: </strong>{% if profile_sister.bio %}{{ profile_sister.bio }}{% endif %}</li>
      <li><strong>Interests: </strong>{% if profile_sister.interests %}{{ profile_sister.interests }}{% endif %}</li>
    {% if user.first_name %}
      <li><strong>Email: </strong><a href="mailto:{{ profile_sister.user.email }}"">{{ profile_sister.user.email }}</a></li>
      <li><strong>Phone Number: </strong>{% if profile_sister.phone_number %}{{ profile_sister.phone_number|phone  }}{% endif %}</li>
      <li><strong>Residence: </strong>{% if profile_sister.residence %}{{ profile_sister.residence }}{% endif %}</li>
    {% endif %}
    
      <li><strong>Big: </strong>{% if profile_sister.big %}{% if profile_sister.big.status != 3 %}<a href="/sisters/{{ profile_sister.big.id }}">{{ profile_sister.big }}</a>{% else %}PRC{% endif %}{% endif %}</li>
      <li><strong>Little(s):</strong>{% if profile_sister.littles %}
      {% for little in profile_sister.littles.all %}{% if little.status != 3 %}<a href="/sisters/{{ little.id }}">{{ little }}</a>;{% else %}PRC{% endif %}{% endfor %} {% endif %}</li>
    
      <li></li>
      <li>{% if profile_sister.memory %}<strong>Favorite AXO Memory: </strong>{{ profile_sister.memory }}{% endif %}</li>
      <li>{% if profile_sister.why_axo %}<strong>Why I Love AXO: </strong>{{ profile_sister.why_axo }}{% endif %}</li>
      <li>{% if profile_sister.what_axo_means %}<strong>What AXO Means to Me: </strong>{{ profile_sister.what_axo_means }}{% endif %}</li>
    </ul>
    {% else %}
    <ul><li>Sorry this sister is a PRC. </li></ul>

    {% endif %}
    
  </td>
  </tr>
</table>
{% endblock %}
