{% extends "base.html" %}

{% block title %}Recruitment &ndash; {% endblock %}

{% block main %}
<div class="content">
  <h1>A Letter from Our Recruitment Chair</h1>
  <p>Welcome, MIT class of 2015! College is an exciting and challenging new experience, especially here at the Institute. There are numerous ways to get involved on campus, including athletics, student-run clubs, and community service. You will be introduced to the world of problem sets, nerdy jokes, free food, and not going to bed until two in the morning. No matter what you decide to do here at MIT, joining a sorority is a fantastic way to meet strong, supportive women who will laugh with you at the good times and stand by your side at the bad. Sororities are values-based organizations that aim to build friendships that will last a lifetime. Most people don’t come to MIT dreaming of joining a sorority, but the sisters of Alpha Chi Omega will agree that joining a sorority was one of the best decisions of their MIT career.</p>
  <p>In terms of academics, sororities have a higher average GPA than non-Greek students. Sisters can often be seen doing homework together and holding review sessions for freshman classes. Philanthropy is also very important to Alpha Chi Omega, and we pride ourselves on supporting the Boston Area Rape Crisis Center (BARCC). Every year we raise money for BARCC by holding our annual Lip Sync competition and by selling carnations during Domestic Violence Awareness Week. Other social events we hold include our open house, Fondue and our annual formal, Carnation Ball.</p>
  <p>Alpha Chi Omega participates in MIT’s Formal Panhellenic Recruitment, which occurs every fall between Orientation and the first day of class. Formal Recruitment introduces all those who participate to sorority life at MIT gives them the opportunity to get to know the six chapters on campus before deciding which is right for them. If you are interested in learning more about Formal Recruitment here at MIT, feel free to visit MIT Panhel’s Website or contact me with any questions.</p>
  <img class="inline-image" src="../static/images/recruitmentchair.jpg"/>
  <p>Loyally,</p>
  <p>Amber Stangroom, <a href="mailto:axo-vprecruitment@mit.edu">VP Recruitment</a></p>

  <h1>Fall 2011 Formal Recruitment</h1>
  <img src="../static/images/axo2014.jpg"/>
  <p>Formal recruitment for 2011 is over and Alpha Chi Omega has recruited a wonderful class of 31 new members. Visit the MIT Panhel website for any recruitment details. This coming year's formal recruitment will be held during the last few days of Orientation in the Fall of 2011. Visit the MIT Panhel website for any recruitment details. We look forward to meeting you!</p>

  <h1>Recruitment FAQ</h1>
  <h2>How can I become an Alpha Chi?</h2>
  <p>Sign up for formal recruitment through the MIT Panhel website. Through the recruitment process, you will be able to meet members of each of the sororities on campus and find a house that is right for you.</p>

  <h2>Are sisters required to live in the Alpha Chi mansion?</h2>
  <p>Our home holds 25 sisters, so no one is required to live in the house if she does not want to. However, the option of living in the house is available to all sisters. Additionally, all sisters are welcome to come to the house for dinner, to hang out, study, bake, etc. whenever she wants.</p>

  <h2>Does Alpha Chi Omega haze their new members?</h2>
  <p>Absolutely not. We do not believe that anything constructive results from that sort of behavior.</p>

  <h2>Does Alpha Chi Omega endorse drinking at their events?</h2>
  <p>We have a strict risk policy which does not condone underage drinking or any risky behavior at our events. Furthermore, there are no alcoholic substances permitted in the Alpha Chi mansion at any time. We strongly adhere to this policy as it is in the best interest of our sisters.</p>

  <h2>What do dues go toward?</h2>
  <p>Sister dues help us support our programming, maintain our house, and provide dinner and other food for our sisters. Additionally, it helps fund events we put on for both the chapter and the general campus. For more information regarding finances, please contact our VP Finance, Sarah.</p>

  <h2>Is financial assistance available?</h2>
  <p>Absolutely. A sister may set up a payment plan with our VP Finance, Sarah. There are also a variety of scholarships and member assistance grants available from the National Alpha Chi Omega Foundation.</p>

  <h2>Who can I contact if I have more questions?</h2>
  <p>Please feel free to contact our VP Recruitment, Amber, or our President, Katie. They will be more than happy to answer your questions.</p>

</div>
{% endblock %}
