{% extends "base.html" %}

{% block title %}Sisters &ndash; {% endblock %}

{% block main %}

{% regroup sisters|dictsort:"class_year" by class_year as class_year_list %}

<p>Our chapter is made up of a group of real, strong women with diverse interests and backgrounds. Check out all our members here!</p>

<table id="sister-table">
<tr>
{% for class_year in class_year_list %}
  <th>Class of {{ class_year.grouper }}</th>
{% endfor %}
</tr>
<tr>
{% for class_year in class_year_list %}
  <td>
    <ul class="sister-list">
    {% for sister in class_year.list|dictsort:"sort_rank" %}
      <li><a href="/sisters/{{ sister.id }}/">{{ sister.full_name }}</a></li>
    {% endfor %}
    </ul>
  </td>
{% endfor %}
</tr>
</table>

<div class="image-center">
<img id="Image-Maps-Com-image-maps-2014-04-15-130425" src="http://images.axo.scripts.mit.edu/images2014/composite-prc.jpg" border="0" width="1472" height="1112" orgWidth="1472" orgHeight="1112" usemap="#image-maps-2014-04-15-130425" alt="" />
<map name="image-maps-2014-04-15-130425" id="ImageMapsCom-image-maps-2014-04-15-130425">
<area shape="rect" coords="1470,1110,1472,1112" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
<area  alt="" title="Vanya" href="https://axo.mit.edu/sisters/206/" shape="poly" coords="77,36,60,42,49,51,42,63,36,78,36,96,38,113,46,127,66,144,88,141,98,138,110,121,117,100,116,80,109,62,106,54" style="outline:none;" target="_self"     />
<area  alt="" title="Yinfu" href="https://axo.mit.edu/sisters/211/" shape="poly" coords="165,36,181,42,193,54,200,70,204,89,203,106,195,127,182,139,167,145,155,144,143,138,132,125,129,106,126,85,133,62,147,42" style="outline:none;" target="_self"     />
<area  alt="" title="ashleygilmore" href="https://axo.mit.edu/sisters/117/" shape="poly" coords="251,36,266,41,280,57,289,74,289,90,289,111,284,125,275,134,264,143,252,145,227,133,218,120,213,101,214,80,219,56,235,45,238,39" style="outline:none;" target="_self"     />
<area  alt="" title="andreag" href="https://axo.mit.edu/sisters/218/" shape="poly" coords="338,36,356,42,370,53,373,65,380,87,378,105,369,120,363,136,344,144,328,141,310,125,301,107,299,87,305,66,317,45" style="outline:none;" target="_self"     />
</map>
</div>
{% endblock %}
